
    <div class="container">
        <div class="navbar">

            <nav>
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">CONTACT</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">OTHERS</a></li>

                </ul>
            </nav>
        </div><br>
        <div class="row">
            <h1>WELCOME</h1>
        </div>
        <div class="row">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eaque repudiandae quisquam, sed saepe eos
                nihil nemo ducimus quo cum. Eveniet minus officiis sint magnam labore hic distinctio fugit
                provident!Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa aperiam, sint aliquid
                quam maiores placeat temporibus, quibusdam laudantium voluptatibus, sed fuga accusamus dicta deserunt
                ipsam eum nihil necessitatibus cumque sequi? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Debitis tempora aut eligendi quas cupiditate sapiente! Suscipit, ipsam nisi. Rerum voluptatibus
                praesentium aspernatur similique sit, accusantium debitis magnam nulla dignissimos modi!</p><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eaque repudiandae quisquam, sed saepe eos
                    nihil nemo ducimus quo cum. Eveniet minus officiis sint magnam labore hic distinctio fugit
                    provident!Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa aperiam, sint aliquid
                    quam maiores placeat temporibus, quibusdam laudantium voluptatibus, sed fuga accusamus dicta deserunt
                    ipsam eum nihil necessitatibus cumque sequi? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Debitis tempora aut eligendi quas cupiditate sapiente! Suscipit, ipsam nisi. Rerum voluptatibus
                    praesentium aspernatur similique sit, accusantium debitis magnam nulla dignissimos modi!</p><br>
        </div><br>
        <div class="row">
            <h3>COURSES</h3>
        </div>
        <div class="row">
            <div class="col-3 mt-5">
                <div class="card mb-3">
                    <img src="../../assets/image/cyber.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Cyber Security</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
            </div><br>
            <div class="col-3 mt-5">
                <div class="card mb-3">
                    <img src="../../assets/image/data.jpeg" class="card-img-top"  alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Data Science</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
            </div>
            <div class="col-3 mt-5">
                <div class="card mb-3">
                    <img src="../../assets/image/machine.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Machine Learning</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
            </div>
            <div class="col-3 mt-5">
                <div class="card mb-3">
                    <img src="../../assets/image/py.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Python</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
            </div>
        </div>